sgiref==3.4.1
async-generator==1.10
attrs==21.4.0
backports.entry-points-selectable==1.1.1
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
cssselect==1.1.0
cssutils==2.4.0
distlib==0.3.4
Django==4.0.1
filelock==3.4.0
fire==0.4.0
Flask==2.0.3
ghp-import==2.0.2
h11==0.12.0
idna==3.3
imgmaker==0.2
importlib-metadata==4.11.1
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.3
numpy==1.22.3
outcome==1.1.0
packaging==21.3
pandas==1.4.1
pdfkit==1.0.0
Pillow==9.0.0
platformdirs==2.4.0
pngquant==1.0.7
premailer==3.10.0
psutil==5.9.0
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.27.1
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.2
termcolor==1.1.0
trio==0.19.0
trio-websocket==0.9.2
tzdata==2021.5
urllib3==1.26.8
virtualenv==20.10.0
watchdog==2.1.6
wcag-zoo==0.2.6
webcolors==1.11.1
Werkzeug==2.0.3
wsproto==1.0.0
xtermcolor==1.3
zipp==3.7.0
